$black: #000000;
$black-fade: rgba(0, 0, 0, 0.5);
$white: rgba(255, 255, 255, 1);
$gold: rgba(243, 183, 30, 1);
$red: #f32424;
$gold-fade: rgba(243, 183, 30, 0);
$white-fade: rgba(255, 255, 255, 0.24);
$text-color: rgba(255, 255, 255, 0.5);
$neon-color: #ff2580;
$text: 1.25rem;
$text-m: 1.125rem;
$neon: rgba(255, 37, 128, 0.2);

$is-1-xl: 5.375rem;

$is-1: 4.5rem;
$is-3: 3.5rem;
$is-4: 3.25rem;

$is-5: 2.625rem;

$is-1-m: 2.5rem;
$is-3-m: 2rem;
$is-4-m: 1.75rem;
$is-5-m: 1.525rem;

$is-1-xs: 2.35rem;

$breakpoints: (
  xxs: 362px,
  xs: 512px,
  sm: 768px,
  md: 896px,
  lg: 1152px,
  xl: 1280px,
  xxl: 1360px,
  xxxl: 1441px,
  4xl: 2200px,
  5xl: 3000px,
);
