footer {
  position: relative;
  width: 100%;
  text-align: center;
  display: block;
  background: $black;
  z-index: 0;
  // min-height: 60vh;
  padding: 6rem 2rem;

  @include breakpoint(md) {
    min-height: auto;
    position: fixed;
    z-index: 999;
    bottom: 0;
    text-align: inherit;
    padding: inherit;
    width: 100vw;
    height: 88px;
  }
  a {
    margin-bottom: 0;
    @include breakpoint(md) {
      margin-bottom: inherit;
    }

    svg {
      min-height: 24px;
      min-width: 24px;
    }
  }

  span {
    @include link;
  }

  .columns {
    margin: 0;
    flex-direction: column;
    @include breakpoint(md) {
      flex-direction: row;
    }
  }

  .column {
    @include paddingless-horizontal;

    &:last-child {
      display: flex;
      flex-wrap: wrap;
      @include breakpoint(md) {
      }
    }
  }

  .navbar-end {
    align-items: center;
    justify-content: flex-end;

    i {
      font-size: $text;
    }

    .is-text {
      margin: 0 0 2rem;

      @include breakpoint(sm) {
        margin: inherit;
      }
    }
  }
}
