#logo {
  width: 60px;
  overflow: hidden;
  // background-image: url('../../img/logo.svg');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  @include breakpoint(sm) {
    width: unset;
  }

  svg {
    max-width: none;
    height: 100%;
    max-height: 2.5rem;
    pointer-events: none;

    @include breakpoint(sm) {
      max-height: 3.125rem;
    }
  }
  img {
    max-width: none;
    height: 100%;
    max-height: 2.5rem;
    pointer-events: none;

    @include breakpoint(sm) {
      max-height: 3.125rem;
    }
  }
}

.navbar {
  position: fixed;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 1rem 20px;
  @include breakpoint(md) {
    background-color: rgba(0, 0, 0, 0);
    padding: 0.5rem 2rem;
  }
  &-item {
    text-align: center;
    img {
    }
  }
  &-menu {
    padding: 96px 2rem;
    margin: 0;
    height: 100vh;
    background-color: black;
    transform: translateY(100vh);
    transition: all ease-in-out 300ms;
    opacity: 0.3;
    width: 100vw;
    margin: auto;
    left: 0;
    right: 0;
    position: fixed;
    border: unset;
    top: 0;
    display: block;
    overflow-x: hidden;
    &.is-active {
      transform: translateY(0);
      opacity: 1;
    }

    @include breakpoint(md) {
      opacity: 1;
      transform: translateY(0);
      padding: 1.5rem 2rem;
      padding: 0;
      margin: auto;
      height: auto;
      background-color: unset;
      width: auto;
      position: relative;
    }
    a {
      width: 100%;
      margin: 1rem 0;
      // min-width: 128px;
      height: 44px;

      text-align: center;

      display: inline-block;

      @include link;

      padding: 0.875rem 1.1rem;
      line-height: 10px;

      @include breakpoint(sm) {
        width: auto;
      }
      @include breakpoint(4xl) {
        font-size: calc(1.25rem + 0.25vw);
        height: calc(44px + 0.5vw);
        display: inline-flex !important;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        color: $gold;
        background: none;
      }

      &:not(.is-cta) {
        @include breakpoint(sm) {
          margin: 0 32px;
        }
      }
    }
  }

  &-brand {
    .navbar-item {
      padding: 0;
    }
  }

  &-end {
    width: 100%;
    align-items: center;
  }

  .button.is-primary {
    border: 1px solid $white-fade;
    background: none;
    display: inline-block;
    line-height: 10px;

    @include breakpoint(lg) {
      margin-left: 32px;
    }
    &:hover {
      color: $white;
      @include gradient;
    }
  }

  &-burger {
    height: 3rem;
    width: 3.05rem;
    padding: 8px;
    display: flex;
    justify-content: center;
    @include border-faded;
    transition: transform 500ms;
    span {
      width: 2rem;
      height: 2px;
      left: 0.5rem;
      &:nth-child(1) {
        top: calc(50% - 12px);
        //top: calc(50% - 12px);
      }

      &:nth-child(2) {
        top: calc(50% - 1px);
      }

      &:nth-child(3) {
        top: calc(50% + 10px);
        // top: calc(50% + 10px);
      }
    }

    &.is-active {
      span {
        &:nth-child(1) {
          top: calc(50% - 6px);
        }

        &:nth-child(3) {
          top: calc(50% + 4px);
        }
      }
    }
  }
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  @include breakpoint(md) {
    align-items: center;
    display: flex;
  }
}

.navbar-menu,
.navbar-end {
  margin-right: 0;
}

.navbar-end {
  display: flex;
  gap: 24px;
  flex-direction: column;
  @include breakpoint(md) {
    flex-direction: row;
    gap: 0;
  }
}
