@import "header";
@import "footer";

* {
  cursor: none !important;
}
body {
  background: $black;
}

.hero {
  height: auto;
  min-height: 100vh;
  padding: 0 20px;
  @include breakpoint(sm) {
    padding: 0;
    justify-content: center;
    padding: 0 2rem 0;
  }

  &-body {
    flex-grow: 1;
    flex-shrink: 0;
    @include breakpoint(sm) {
      padding: 0 4rem !important;
      //margin-top: -3rem;
      //padding: 3rem 4rem !important
    }
  }
}

.columns:not(:last-child) {
  margin-bottom: 5rem;
}

.hero.is-primary {
  background: none;
  @include breakpoint(lg) {
    text-align: center;
  }
}

.container.is-fluid {
  @include breakpoint(sm) {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.section.is-large {
  padding: 6rem 20px 32px;
  @include breakpoint(sm) {
    padding: 12rem 2rem;
  }
}

.columns {
  margin: 0;
  @include breakpoint(sm) {
  }
}
.column {
  padding: 1.25rem 0;
  @include breakpoint(sm) {
    padding: 1.25rem;
  }
  @include breakpoint(4xl) {
    padding: calc(1.25rem + 0.25vw);
  }
}
.content {
  p:not(:last-child) {
    margin-bottom: 2rem;
  }
  ul {
    margin: 0;
    @include paragraph_style;
    margin-bottom: 3.5rem;
  }
}

.skill-list {
  li {
    display: inline-block;
    max-width: 280px;
    min-width: 280px;
    width: 100%;
    @include main_font;
  }
}

.contact-info {
  a {
    margin-top: 0;
  }
}

#bio {
  padding-top: 2rem;
}

#skills {
  h2 {
    display: block;

    @include breakpoint(lg) {
      width: 220px;
      // left: -96px;
    }

    @include breakpoint(xxl) {
      width: auto;
      // left: -32px;
    }

    @include breakpoint(xxxl) {
      // left: 0;
      right: 64px;
    }
  }
}

.has-more-work {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  a {
    margin: 1.5rem auto;
  }
}

#project-case-study {
  .columns {
    margin-bottom: 4rem;
  }
}

.title-container {
  //overflow: hidden;
}

.column.is-12,
.column.is-12-tablet {
  max-width: 2400px;
}

.content ul {
  list-style: disc outside;
  display: grid;
  gap: 24px;

  @include breakpoint(md) {
    grid-template-columns: repeat(2, auto);
  }
  @include breakpoint(lg) {
    grid-template-columns: repeat(3, auto);
  }
}

.md\:block {
  display: block;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.gap-20 {
  gap: 20px;
}

.experience-block {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  img {
    margin-top: 8px;
  }
}

.work-icon {
  width: 32px;
}

.mb-24 {
  margin-bottom: 24px;
}

ul.experience-timeline {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 24px;
  li {
    list-style: none !important;
    padding-left: 12px;
  }

  li::marker {
    display: none;
  }
}

.experience-box {
  position: relative;
  &::before {
    content: "";
    width: 32px;
    background-image: url("/img/db-time-line-icon.svg");
    display: block;
    height: 32px;
    position: absolute;
    left: -32px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $black;
    z-index: 1;
  }

  &::after {
    content: "";
    width: 32px;
    background-image: url("/img/time-line-line.svg");
    display: block;
    height: 100%;
    position: absolute;
    background-repeat: repeat-y;
    background-position: center;
    top: -32px;
    left: -32px;
  }
  &:first-child::before {
    content: "";
    width: 32px;
    background-image: url("/img/time-line-icon.svg");
    display: block;
    height: 32px;
    position: absolute;
    left: -32px;
    top: 8px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:first-child::after {
    content: "";
    width: 32px;
    background-image: url("/img/time-line-line.svg");
    display: block;
    height: 32px;
    position: absolute;
    left: -32px;
    top: 32px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:last-child .experience-block::before {
    display: none;
  }
  &:last-child::after {
    top: -144px;
    height: 144px;
  }
  &:last-child::before {
    background-image: url("/img/time-line-icon.svg");
    transform: rotate(180deg);
    top: -8px;
  }
}
.experience-block {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    background-image: url("/img/time-line-line.svg");
    display: block;
    position: absolute;
    left: -44px;
    height: 100%;
    background-repeat: repeat-y;
    background-position: center;
  }
}

.dev-signature {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: $text-color;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 32px;

  @include breakpoint(md) {
    margin: 0 24px;
    width: auto;
  }
  img {
    margin: 0 0 0 12px;
  }
  .nuxt-logo {
    height: 32px;
  }
  img:not(.nuxt-logo) {
    height: 24px;
  }
}
